<form id="mainDiv" name="profileForm" novalidate>


        <div class="col-md-8 col-md-offset-2" ng-init="init()">
            <div id="shadowBox" class="row">
                <div id="topDiv" class="container">
                    <p id="p" translate="USER_PROFILE"></p>
                </div>
                <!-- details -->
                <div id="dataDiv" class="container profile-container">
                    <div class="row">
                        <div class="col-md-3 profile-image">
                            <img id="imgDetails" ng-src="{{profile.imageUrl}}" class="img-rounded" id="imgBlock">
                        </div>
    
                        <div class="profile-data">
    
                            <div id="divUserName" class="user-name">
                                <div class="profile-label" translate="USERNAME"></div>
                                <div class="profile-value">{{profile.username}}</div>
                            </div>
    
                            <div class="form-group" ng-class="{ 'has-error' : profileForm.email.$invalid && profileForm.email.$dirty}">
                                <div class="profile-label" translate="USER_EMAIL"></div>
                                <input class="form-control input-lg ng-valid ng-touched ng-dirty ng-valid-email ng-valid-required ng-valid-pattern" type="E-mail" id="email" name="email" ng-model="profile.email" placeholder="{{ 'USER_EMAIL' | translate }}" required ng-pattern="/^[A-z]+[a-z0-9._\-]+@[a-z]+\.[a-z.]{2,5}$/" ng-maxlength="30" record-availability-validator>
                                <div class="help-block text-danger ng-scope ng-active" ng-if="profileForm.email.$dirty" ng-messages="profileForm.email.$error">
                                    <div ng-message="pattern"><span translate="ENTER_CORRECT_EMAIL"/></div>
                                    <div ng-message="required"><span translate="ENTER_EMAIL"/></div>
                                    <div ng-message="maxlength"><span translate="EMAIL_IS_TOO_LONG"/></div>
                                    <div ng-message="recordAvailable"><span translate="EMAIL_ALREADY_USED"/></div>
                                </div>
                            </div>

                            <div class="form-group" ng-class="{ 'has-error': profileForm.password.$dirty && profileForm.password.$invalid }">
                                <div class="profile-label" translate="USER_PASSWORD"></div>
                                <input type="password" name="password" id="password" class="form-control input-lg ng-pristine ng-valid ng-valid-required ng-touched ng-valid-compare-to" placeholder="{{ 'USER_PASSWORD' | translate }}" ng-model="profile.password" required ng-minlength="6" ng-maxlength="20"/>
                                <div class="help-block text-danger ng-scope ng-active" ng-if="profileForm.password.$dirty" ng-messages="profileForm.password.$error">
                                    <div ng-message="required" class="ng-scope" translate="ENTER_PASSWORD"></div>
                                    <div ng-message="minlength"><span translate="PASSWORD_IS_TOO_SHORT"/></div>
                                    <div ng-message="maxlength"><span translate="PASSWORD_IS_TOO_LONG"/></div>
                                </div>
                            </div>

                        </div>
                    </div>
       
                </div>

                <div id="shadowBox">
                    <div id="bottomButtonsBar">
                        <div id="divLeft">
                            <button class="btn btn-default" ng-click="back()"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> <span translate="BACK" /> </button>
                        </div>
                        <div id="divRight">
                            <button id="btnInsertUpdate" class="btn btn-primary" ng-click="doWork(profile)" type="submit"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
                        </div>
                    </div>
                </div>

            </div>
    
        </div>

</form>