# Build Artifacts
.gradle
build
target
out/
bin/

# IDEA artifacts and output dirs
*.iml
*.ipr
*.iws
*.idea

# Eclipse artifacts
.classpath
.project
.settings/

# Node artifacts
src/main/webapp/app/node_modules
src/main/webapp/app/vendor

src/main/webapp/build/
src/main/webapp/js/min/
src/main/webapp/css/min/
src/main/webapp/angularDocs/
src/main/webapp/bower_components/
src/main/webapp/e2etestresults/
src/main/webapp/index.html

src/main/webapp/META-INF/context.xml
.sonar/
.checkstyle
data/
logs/
node/
node_modules/
target/
bower_components/
