<div class = "ideas-container">
    <div id="tag-buttons" class="btn-group" ng-controller="tagsCtrl as tagsCtrl">
        <tag-button identifier="all" ng-click="ideasCtrl.selectByCategory(null)" active="true">Все</tag-button>
        <tag-button identifier="tag{{tag.id}}" ng-repeat="tag in tagsCtrl.tagsTop" ng-model="tag" ng-click="ideasCtrl.selectByCategory(tag)">{{tag.name}}</tag-button>
    </div>
    <div class="dataContainer">
        <div id="lstMostRating" class="popularIdeas" ideas-list update-function="ideasCtrl.loadPageForPopular()" div-name="#lstMostRating">
            <ul>
                <li ng-repeat="idea in ideasCtrl.popular"  class = "idea-li" >
                    <show-idea idea="idea" is-authenticated="authenticated"></show-idea>
                </li>
            </ul>
        </div>
        <div id="lstNewIdeas" class="latestIdeas" ideas-list update-function="ideasCtrl.loadPageForLatest()" div-name="#lstNewIdeas">
            <ul>
                <li ng-repeat="idea in ideasCtrl.latest" class = "idea-li" >
                    <show-idea idea="idea" is-authenticated="authenticated"></show-idea>
                </li>
            </ul>
        </div>
        <!--div id="map" class="mapMainPage" -->
        <!--/div-->
        <ya-map ya-zoom="11" ya-center="[30.331014, 53.894617]" ya-controls="smallMapDefaultSet" class="mapMainPage">
            <ya-toolbar ya-name="zoomControl"></ya-toolbar>
            <ya-toolbar ya-name="scaleLine"></ya-toolbar>
            <ya-toolbar ya-name="typeSelector"></ya-toolbar>
            <!-- list gps coords -->
            <ya-collection ya-options="{preset:'twirl#blueIcon'}">
                <ya-cluster ya-options="{preset:'islands#invertedLightblueClusterIcons'}">
                    <ya-geo-object ng-repeat="item in geoObjects" ya-source="item" ></ya-geo-object>
                </ya-cluster>
            </ya-collection>
        </ya-map>
    </div>
</div>