<div class = "ideas-container">
    <div id="tag-buttons" class="btn-group">
        <tag-button identifier="all" click="ideasCtrl.selectByCategory()" active="true">Все</tag-button>
        <tag-button identifier="sport" click="ideasCtrl.selectByCategory('1')">Спорт</tag-button>
        <tag-button identifier="transport" click="ideasCtrl.selectByCategory('2')">Транспорт</tag-button>
        <tag-button identifier="culture" click="ideasCtrl.selectByCategory('3')">Культура</tag-button>
    </div>
    <div class = "searcher">
        <input placeholder="Найти..." ng-model="criteria" class="form-control">
    </div>
    <div class="dataContainer">
        <div infinite-scroll='ideasCtrl.loadMore()'> <!-- class="allIdeas"  -->
            <ul>
                <li ng-repeat="idea in ideasCtrl.ideasVisible | orderBy: '-rating' | searchLineFilter:criteria"  class = "idea-li" >
                    <show-idea idea="idea" ng-model="ideasCtrl.criteria"></show-idea>
                </li>
            </ul>
        </div>
        <div  class="newIdeas">
            <ul>
                <li ng-repeat="idea in ideasCtrl.ideas | orderBy: '-createdAt'| searchLineFilter:criteria | limitTo: 5  "  class = "idea-li" >
                    <show-idea idea="idea" ng-model="ideasCtrl.criteria"></show-idea>
                </li>
            </ul>
        </div>
        <!--div id="map" class="mapMainPage" -->
        <!--/div-->
        <ya-map ya-zoom="11" ya-center="[30.331014, 53.894617]" ya-controls="smallMapDefaultSet" class="mapMainPage">
            <ya-toolbar ya-name="zoomControl"></ya-toolbar>
            <ya-toolbar ya-name="scaleLine"></ya-toolbar>
            <ya-toolbar ya-name="typeSelector"></ya-toolbar>
            <!-- list gps coords -->
            <ya-collection ya-options="{preset:'twirl#blueIcon'}">
                <ya-cluster ya-options="{preset:'islands#invertedLightblueClusterIcons'}">
                    <ya-geo-object ng-repeat="item in geoObjects" ya-source="item" ></ya-geo-object>
                </ya-cluster>
            </ya-collection>
        </ya-map>
    </div>
</div>
