#shadowBox
{
	box-shadow: 0 0 30px gray;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
}

#topDiv
{
	width: 100%;
	height: 3% auto;
	margin: 0 auto;
	background-color: #337AB7;
	color: #FFFFFF;
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 4px;

	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

#dataDiv
{
	width: 100% auto;
	margin-top: 10px;
	background-color: #FFFFFF;
	vertical-align: top;
	overflow: visible;
}

#footerDiv
{
	width: 100%;
	height: 12% auto;
	margin: 0 auto;
	background-color: #F5F5F5;
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 4px;
}

#likeDiv
{
	width: 100%;
	height: 3% auto;
	margin: 0 auto;
	background-color: #337AB7;
	color: #FFFFFF;
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;

	border: 2px solid #337AB7;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

#likeDivList
{
	width: 100%;
	height: 5% auto;
	margin: 0 auto;
	background-color: #FFFFFF;
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.mapDetails
{
	width: 150px;
	height: 150px;
    display: block;
}

.largeMap{
    width: 100%;
    height: 50%;
    display: block;
}

.showMapLink
{
	padding-left: 0;
}

.mapDetailsInsert
{
	margin-top: 15px;
	width: 100%;
	height: 350px;
    display: block;
}

#p
{
	margin-left: 15px;
	margin-right: 15px;
}

#tdImage
{
	text-align: center;
	padding-left: 15px;
	padding-right: 15px;
}

table
{
	width: 100%;
	height: auto;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#SearchLineHighlight{
	background-color:#FF9;
	color:RED;
	width: 100%;
}

#divData
{
	width: 100% auto;
	min-height: 50px;
	text-align: left;
	padding-left: 15px;
	padding-right: 15px;
	margin-top: 10px;
}

#footerAddDiv
{
	width: 100%;
	height: 5%;
	margin: 0 auto;
	background-color: #F5F5F5;
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 4px;
	display: inline-block;
}

#tdCaption
{
	width: 15% auto;
	min-width: 120px;
	font-weight: bold;
	text-align: left;
	padding-left: 15px;
	padding-right: 15px;
	width: 10%;
	float: left;
}

#tdCaptionDetails
{
	font-weight: bold;
	text-align: left;
	padding-left: 15px;
}

#tdData
{
	/*width: 90% auto;*/
	/*min-width: 200px;*/
	text-align: left;
	/*padding-left: 15px;*/
	padding-right: 15px;
	/*float: left;*/
}

#tdDataInsert
{
	width: 100%;
	min-width: 200px;
	text-align: left;
	padding-left: 15px;
	padding-right: 15px;
	float: left;
}

#mainDivInsert
{
	width: 100%;
	padding-left: 10px;
	padding-right: 10px;
}

#dataDivInsert
{
	width: 100% auto;
	height: 35%;
	margin: 0 auto;
	background-color: #FFFFFF;
	vertical-align: top;
	overflow: auto;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#lineDivsLeft
{
	width: 75% auto;
	height: 90%;
	float: left;
	min-width: 60%;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
        text-align:center;
}

#lineDivsRight
{
	width: 20% auto;
	height: 90%;
	float: right;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
    text-align:center;
}

#lineDivsLeftInsert
{
	width: 85%;
	height: 90%;
	float: left;
	min-width: 70%;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
        text-align:center;
}

#lineDivsRightInsert
{
	width: auto;
	height: auto;
/*	max-width: 300px;
	max-height: 300px;
	float: right;*/
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
    text-align:center;
}

#imgBlock
{
	margin-top: 10px;
	width: 100%;
	height: 100%;
}

#divLeft
{
	height: 100%;
	width: 45%;
	float: left;
	text-align: left;
}

#divRight
{
	height: 100%;
	width: 55%;
	float: right;
	text-align: left;
}

#divRating
{
	text-align: right;
	font-size: 30;
	margin-right: 15px;
}

#divRightAlignRight
{
	height: 100%;
	width: 250px;
	float: right;
	text-align: right;
	padding-right: 5px;
}

#bottomButtonsBar
{
	width: 100%;
	height: 50px;
	margin: 0 auto;
	background-color: #F5F5F5;
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 4px;
}

.drop-box
{
    background: #F8F8F8;
    border: 5px dashed #DDD;
}
.dragover {
    border: 5px dashed blue;
}


.requiredField label:after {
    color: #ff0000;
    content: ' *';
    display:inline;
}

#searchLine
{
	width: 85%;
}

.popover-content {
    height: 150px;
    overflow-y: auto;
}

#commentsDiv
{
	width: 100%;
	display: table;
}

.scrollable
{
	padding-left: 0;
	padding-right: 0;
	max-height: 500px;
    overflow-y: auto;
}

.comment {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.withoutComments
{
	padding-left: 10px;
}


.userName {
    font-size: 14px;
    font-weight: bold;
}

#commentsDiv .media {
    border-bottom: 1px dotted #ccc;
}

.smallImage {
	width: 40px;
	height: 40px;
}

.addCommentForm {
	margin-top: 30px;
	float: left;
	width: 100%;
}
.addCommentForm textarea {
	background: none repeat scroll 0 0 #fff;
	border: medium none;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	-ms-border-radius: 4px 4px 0 0;
	-o-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
	color: #777777;
	float: left;
	font-family: Lato;
	font-size: 14px;
	height: 142px;
	letter-spacing: 0.3px;
	padding: 20px;
	width: 100%;
	resize:vertical;
	outline:none;
	border: 1px solid #d7d7d7;
}

.addCommentForm button {
	border: medium none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	color: #fff;
	float: right;
	font-family: Lato;
	font-size: 14px;
	letter-spacing: 0.3px;
	margin-right: 9px;
	margin-top: 9px;
	padding: 6px 15px;
}

.addCommentForm button > i {
	margin-right: 7px;
}