<html ng-app="ideaApp">
<head>
    <title>Idea lab </title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <link rel="stylesheet" type="text/css" href="css/ideaDetails.css"/>
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css"/>
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>

    <script type="text/javascript" src="bower_components/jquery/jquery.js"></script>

    <script type="text/javascript" src="bower_components/bootstrap/bootstrap.js"></script>

    <script type="text/javascript" src="bower_components/angular/angular.js"></script>

    <script type="text/javascript" src="bower_components/angular-animate/angular-animate.js"></script>

    <script type="text/javascript" src="bower_components/angular-resource/angular-resource.js"></script>

    <script type="text/javascript" src="bower_components/angular-ui-router/angular-ui-router.js"></script>

    <script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>

    <script type="text/javascript" src="bower_components/angular-cookies/angular-cookies.js"></script>

    <script type="text/javascript" src="bower_components/angular-md5/angular-md5.js"></script>

    <script type="text/javascript" src="bower_components/angular-yandex-map/ya-map.min.js"></script>

    <script src="js/min/script.min.js"></script>

    <!-- Yandex maps scripts -->
    <script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <!--<script>-->
    <!--ymaps.ready(mapInit);-->
    <!--</script>-->
</head>

<body>

<div class = "head-container">

    <div class = "container" ng-controller="sessionCtrl as sessionCtrl">
        <div class = "head-title title-font" id="IHaveIdeaDiv">
            <p> <!--a href="#ideaAddNew"--><i class="fa fa-child"></i> У меня есть идея!<!--/a--></p>
        </div>

        <div id="AddIdeaDiv">
            <a href="#ideaAddNew" class="addIdeaButton" id="addIdeaButton">Добавить идею</a>
        </div>

        <div	 class = "href-enter" id="LoginIdeaDiv" >
            <p ng-if="!sessionCtrl.authenticated"><a id="words" class="words" href="#login">Login</a></p>
            {{sessionCtrl.email}}
            <p ng-if="sessionCtrl.authenticated"><a href ng-click="sessionCtrl.logout()">Logout</a></p>
        </div>
    </div>
</div>
<div class = "container">
    <div data-ui-view='main'  autoscroll='false'></div>
</div>
</body>
</html>
