<html ng-app="ideaApp">
<head>
    <title>Idea lab </title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css"/>


    <script type="text/javascript" src="bower_components/jquery/jquery.js"></script>

    <script type="text/javascript" src="bower_components/bootstrap/bootstrap.js"></script>

    <script type="text/javascript" src="bower_components/angular/angular.js"></script>

    <script type="text/javascript" src="bower_components/angular-animate/angular-animate.js"></script>

    <script type="text/javascript" src="bower_components/angular-resource/angular-resource.js"></script>

    <script type="text/javascript" src="bower_components/angular-ui-router/angular-ui-router.js"></script>

    <script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>

    <script src="js/min/script.min.js"> </script>

    <!-- Yandex maps scripts -->
    <script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <script>
			ymaps.ready(mapInit);
	</script>
</head>

<body ng-controller="ideasCtrl as ideasCtrl">


<div class = "head-container">
    <div class = "container">
        <div class = "head-title title-font">
            <p >У месть идея!</p>
        </div>
        <div	 class = "href-enter">
            <p ><a class = "words" href="enter.html">Enter</a></p>
        </div>
    </div>
</div>
<div class = "container">
    <div id="tag-buttons" class="btn-group">
        <tag-button id="all" click="ideasCtrl.selectByCategory()" active="true">Все</tag-button>
        <tag-button id="sport" click="ideasCtrl.selectByCategory('1')">Спорт</tag-button>
        <tag-button id="transport" click="ideasCtrl.selectByCategory('2')">Транспорт</tag-button>
        <tag-button id="culture" click="ideasCtrl.selectByCategory('3')">Культура</tag-button>
    </div>
    <div class = "searcher">
        <input placeholder="Найти..." ng-model="ideaCtrl.criteria">
    </div>
    <div class = "ideas">
        <ul>
            <li ng-repeat="idea in ideasCtrl.ideas | orderBy: '-rating'"  class = "idea-li">
                <div class ="idea">
                    <div class="left">
                        <img src="images/photo.gif"/>
                    </div>
                    <div class="right font-cenralbig" >
                        <div ng-click="ideasCtrl.changeRate(1, idea)" class="vote"><i class="glyphicon glyphicon-menu-up"></i></div>

                        <div>{{idea.rating}}</div>
                        <div ng-click="ideasCtrl.changeRate(-1, idea)" class="vote"><i class="glyphicon glyphicon-menu-down"></i></div>

                    </div>
                    <strong class ="head-text">
                        <a href="{{idea.url}}.html">{{idea.title}}</a>
                    </strong>
                    <p class ="body-text">
                        <span ng-bind-html="idea.description | highlightTextInDescriptionOfIdea:ideaCtrl.criteria"></span>

                    </p>
                    <p class ="end-text">
                        <span class ="small-area"><span class="glyphicon glyphicon-time"></span>{{ idea.createdAt | date:'dd.MM.yy'}}</span>
                        <span class ="small-area"><span class="glyphicon glyphicon-user"></span>{{idea.author.username}}</span>
                        <span class ="small-area"><span class="glyphicon glyphicon-tag"></span><span ng-repeat="tag in idea.tags">{{tag.name}}</span></span></p>
                </div>

            </li>

        </ul>
    </div>
    <div class="right" >
        <!--<img src="images/mockup.png" width="100%" />-->
        <div id="map" style="width: 640px; height: 480px"></div>
    </div>
</div>

<div ui-view></div>
</body>

</html>
